<ion-view view-title="Книги">
  <ion-content>
    <div ng-repeat="book in vm.books">
      <ion-item>{{book.title}} {{book.author}}</ion-item>
      <button class="button button-assertive" ng-click="vm.delete(book.id)">Удалить</button>
    </div>
    <div>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Автор"  ng-model="vm.book.author">
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Название" ng-model="vm.book.title" >
        </label>

        <button class="button button-balanced" ng-click="vm.create()">Создать</button>
      </div>
    </div>
  </ion-content>
</ion-view>
